.home-page .about .content{
    background-color: #6F528C;
    color:#fff; 
    padding: 115px 60px;
    position: relative;
}
.home-page .about .content h2{
    font-size: 36px;
    font-family: ArimaMadurai;
    font-weight: bold;
    margin-bottom: 15px;
}
.home-page .about .content p{
    width: 77%; 
    font-size: 18px;
}
.home-page .about .content .image{
    position: absolute;
    bottom: -50%;
    right: -22%;
}
.home-page .news{
    margin-top: 180px; 
}  
.slick-slide .card{
    padding: 0 20px;
}
.slick-dots li button:before { 
    font-size: 10px !important; 
    opacity: 1 !important;
    color: #dddd !important; 
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #6f528c !important;
}
.home .news{
    margin-top: 60px;
}
.slick-dots{
    bottom: -35px !important;
}
@media screen and (max-width: 1024px) { 
    .home-page .about .image{
        display: none;
    }
    .home-page .about .content{
        padding: 35px 30px;
    }
    .home-page .about .content p{
        width: 100%;
        font-size: 16px;
    }
    .home-page .news{
        margin-top: 30px; 
    }
    .slick-slide .card{
        padding: 0 10px;
    }
    .slick-next,.slick-prev{
        display: none !important;
    }
    .home-page .news #button{
        margin-top: 50px;
        margin-right: 10px;
    }     
} 